body{
    width: 80%;
    margin: 0 auto;
}
.bg-light {
    background-color: white;
}
#navbarScroll{
    margin-left: 20%;
}

.icons{
    /* margin: auto 20em ;
    padding: 0 20px; */

    color: black;
}
.nav-item{
    padding: 20px;
}
.btn-outline-success{
    border:none;
    background-color: green;
    color: white    ;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
/* #context{
    width: 80%;
    background-color: red;
    font-size: 60px;   


}
#context>h1{
    /* font-size: 30vw;    */



#grid1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}



#gridLeft{
    margin: auto;
}

#gridLeft>h1{
    font-size: 78px;
    font-family:initial;
    font-weight: bold;
}

#gridLeft>h1>span{
    color: rgb(27, 234, 27);
}
#gridLeft>p{
    font-size: 28px;
    color: rgba(0, 0, 0, 0.702)  ;
    margin-top: 40px;
    margin-bottom: 40px;
}

#gridLiftButtons>button{
    background-color:#39DB4A ;
    color: white;
    font-size: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin-right: 40px;
}
#gridLiftButtons>a{
    color: rgb(77, 75, 75);
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
}
.cardItem{
    background-color: gray;
    border: 1px solid black;
    width: 40%;
    /* font-size: 12px; */
}
.cardItem>div>h1{
    font-size: 22px;
    font-weight: bold;
}


.cardItem{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

    
}
#cards{
    display: flex;
    gap: 40px;
    /* margin-top: -100px; */
}
#mainImage{
    z-index: -1;
    position: absolute;
}